*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  display: flex
  align-items: center
  justify-content: center
  height: 100vh

  .card
    border-radius: 20px
    background-color: #008080
    width: 500px
    height: 700px

    img
      display: flex
      justify-content: center
      align-items: center
      width: 280px
      margin-top: 5%
      margin-left: 23%

    span
      display: flex
      color: #fff
      margin-top: 8%
      align-items: center
      justify-content: center
      font-weight: bolder
      font-size: 60px

    h1
      display: flex
      align-items: center
      justify-content: center
      font-size: 100px
      margin-top: 15%
      color: #fff
      font-weight: bolder

  .info
    display: flex
    justify-content: space-evenly
    text-align: center

    p
      color: #fff
      font-size: 20px
      font-weight: bolder
      margin-left: 20%

    .barometro
      gap: 5px
      display: flex
      flex-direction: column

      img
        margin-right: 1px
        width: 50px

    .temps
      gap: 5px
      display: flex
      flex-direction: column

      img
        margin-left: 20px
        width: 50px



