
  <body>
    <div class="card">
      @if(weatherDatasInput.name && weatherDatasInput){
        <span>{{weatherDatasInput.name}}</span>
      }
      <h1>{{weatherDatasInput.main.temp}}°C</h1>

      @if(horaAtualInput >= 18 || horaAtualInput <= 5){
        @if(condicaoClimeInput == 'algumas nuvens'){
          <img src="../../../assets/img/noite/noite_nuvens.png">

        } @else if(condicaoClimeInput == 'nevoa'){
          <img src="../../../assets/img/dia_e_noite/nevoa.png">

        } @else if(condicaoClimeInput == 'céu limpo'){
          <img src="../../../assets/img/noite/noite_lua.png">

        } @else if(condicaoClimeInput == 'nuvens dispersas' || condicaoClimeInput == 'nublado'){
          <img src="../../../assets/img/noite/noite_nuvens.png">

        } @else if(condicaoClimeInput == 'chuviscos' || condicaoClimeInput == 'chuva moderada' || condicaoClimeInput == 'chuva leve' || condicaoClimeInput == 'garoa de leve intensidade'){
          <img src="../../../assets/img/noite/chuva_fraca_noite.png">

        } @else if(condicaoClimeInput == 'pouca neve' || 'neve') {
          <img src="../../../assets/img/dia_e_noite/neve.png">

        } @else if(condicaoClimeInput == 'chuviscos com intensidade de raios' || 'chuva forte' || 'trovoadas'){
          <img src="../../../assets/img/noite/chuva_raio_noite.png">

        } @else {
          <img src="../../../assets/img/noite/noite_lua.png">
        }
      }

      @if(horaAtualInput > 5 && horaAtualInput < 18){
        @if(condicaoClimeInput == 'algumas nuvens'){
          <img src="../../../assets/img/dia/sol_nuvens.png">

        } @else if(condicaoClimeInput == 'névoa'){
          <img src="../../../assets/img/dia_e_noite/nevoa.png">

        } @else if(condicaoClimeInput == 'céu limpo'){
          <img src="../../../assets/img/dia/sol.png">

        } @else if(condicaoClimeInput == 'nuvens dispersas' || condicaoClimeInput == 'nublado'){
          <img src="../../../assets/img/dia/dia_nuvens.png">

        } @else if(condicaoClimeInput == 'chuviscos' || condicaoClimeInput == 'chuva moderada' || condicaoClimeInput == 'chuva leve' || condicaoClimeInput == 'garoa de leve intensidade'){
          <img src="../../../assets/img/dia/sol_chuva_fraca.png">

        } @else if(condicaoClimeInput == 'pouca neve' || 'neve'){
          <img src="../../../assets/img/dia_e_noite/neve.png">

        } @else if(condicaoClimeInput == 'chuviscos com intensidade de raios' || 'chuva forte' || 'trovoadas'){
          <img src="../../../assets/img/dia/chuva_raio_dia.png">

        } @else{
          <img src="../../../assets/img/dia/sol.png">
        }
      }

      <div class="info-weather">
        <h4>{{weatherDatasInput.weather[0].description.toUpperCase()}}</h4>
      </div>
      <div class="info">
      <div class="barometro">
        <img src="../../../assets/img/weather_icons/vento.png" (click)="handleOpenModalWind()"><p>{{weatherDatasInput.wind.speed}}Km/h</p>
        <img src="../../../assets/img/weather_icons/umidade.png" (click)="handleOpenModalHumidity()"><p>{{weatherDatasInput.main.humidity}}%</p>
      </div>
      <div class="temps">
        <img src="../../../assets/img/weather_icons/max_temp.png" (click)="handleOpenModalTempMax()"><p>{{weatherDatasInput.main.temp_max}}°C</p>
        <img src="../../../assets/img/weather_icons/min_temp.png" (click)="handleOpenModalTempMin()"><p>{{weatherDatasInput.main.temp_min}}°C</p>
      </div>
      </div>
    </div>
  </body>
